body {
    background-color:black ;
}
.first-item{
    border-bottom: 1px solid hsla(0,0%,100%,.161);
    gap: 15px;
    padding: 20px;
    text-align: center;
    color: white;
    word-spacing: 3px;
    height: 100%;
}

#universe{
    background-color:#5959f7;
    font-size: 13;
    padding: 5px 10px;
    margin-left: 9px;
    border-radius: 5px;
    cursor: pointer;
}
.menu{

    height: 60px;
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    color: white;
    
}

li{
    align-content: space-between;
    list-style-type: none;
    float: left;
    
    word-spacing: 10px;
    
    }

.top-universe{
    float: left;
}
.about{
    padding-top: 50px;
    height: 600px;
    color: white;
    text-align: center;


}
.opensourcelearning{
    color: aqua;
    font-size: 20px;
    
}
.microlearning{
    font-size: 50px;

    background: linear-gradient(to left,
               #d0beff 10.67%,
               #40ebc3 89.67%);

     -webkit-background-clip: text;
     color: transparent;
    
}
.about2{
    font-size: 20px;
}
.joinbutton{
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    font-size: 20px;
    
}
.partners{
    font-size: 20px;
}

.eachpartner{
    text-align: center;
    
    color: white;
}
img{
    height:100px ;
    width:100px ;
    
}
.main{
    display: grid;
    margin-left: 30px;
    justify-content: center;
    height: 250px;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    
}
div.columns{
    color: white;
    background-color:#131313;
   /* height: 250px;
    width: 300px;*/
    border:1px solid black ;
    border-radius: 5px;
    text-align: center;
}
.numbers{
    height: 400px;
    color: white;
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    margin: 20px;
}
.new{
    float: left;
    margin: 20px;
    align-content: center;


}
.new.heading{
    font: size 20px ;
    text-align: center;
    
}
.no{
    font-size: 60px;
}
.end{
    background-color:#131313;
    height: 420px;
    margin: 100px;
    border-radius: 4px;
    padding: 30px;
    color: white;
    text-align: center;
}
.project{
    font-size: 60px;
    line-height: 15px;

}
.community{
    color: white;
    background-color: #131313;
    margin: 10px;
    border-radius: 4px;
    float: left;
    height: 300px;
    width: 300px;
    padding: 15px;
    text-align: center;
    
}
.community1{
    border-radius:4px ;
    background-color: #403e3e;
    color: white;
    height: 50px;
    width: 200px;
    padding: 5px 7px;
    text-align: center;
}
.community2{
    border-radius:4px ;
    background-color: #403e3e;
    color: white;
    height: 50px;
    width: 200px;
    padding: 5px 7px;
    text-align: center;

    
    
}

   /* float: left;
    margin: 10px;
    text-align: center;*/


/*.cohort1{
    margin-top: 30px;
    height: 150px;
    width: 150px;
    background-color:#545252;
    border:1px solid black ;
}

.cohort{
color: white;
background-color:#545252;
width: 20%;
border:1px solid black ;
height: 300px;
float: left;
}
.workshops{
    color: white;
    background-color:#545252;
    width: 20%;
    border:1px solid black ;
    height: 300px;
    float: left;

}
.talent{
color: white;
background-color:#545252;
width: 20%;
border:1px solid black ;
height: 300px;
float: left;

}*/














