body{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background-color: aqua;
    height: 90px;
}
.navbar{
    /*background-color: blue;*/
    width: 1230px;
    height: 75px;
    margin: auto;
}
.icon{
   /* background-color: brown;*/
    width: 200px;
    height: 75px;
    float: left;
}
.logo{
   /* background-color: rosybrown;*/
    color: black;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    text-align: center;
}
.hash{
    color: red;
    font-weight: bold;

}
.menu{
    /*background-color: rebeccapurple;*/
     height: 70px;
}
ul{
    /*background-color: magenta;*/
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    /*background-color: gold;*/
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;

}
ul.signup{
    margin-left: 350px;
   /* background-color: red;*/
    float: right;
    display: flex;
}

li.signin{
   /* background-color: green;*/
    float: right;

    
}
li.getaccount{
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 3px 5px;
    
   
}
.content{
    margin: 90px 100px;
    padding: 7px 7px;
    background-color: palevioletred;
    width: 30%;
    height:1000px;
}
.creditcard{
    background-color:burlywood;
    /*margin-top: 10px;*/
    font-size: 50px;
}
.lorem{
    background-color: orange;
}
.container{
   background-color: indigo;
    height: 80px;
    
    
}    
.enterdetails{ 
    border-radius: 5px solid black;
}

.freecard{
background-color: black;
color: white;
float:right ;
/*display: flex;
padding: 5px;*/
width: 100px;
height: 30px;
border-radius: 5px;
}
.cardsinfo{
background-color: aqua;
height: 100px;
}
.cards{
background-color: violet;
}
.transactions{
background-color: orangered;
}
.image{
    background-color: rgb(230, 129, 6);
    float: right;
    display: flex;
}
